body {
    font-family: Arial, sans-serif;
    background-image: url('https://us.123rf.com/450wm/pitinan/pitinan2107/pitinan210700659/171842792-brazo-rob%C3%B3tico-industrial-mecanizado-para-montaje-en-l%C3%ADnea-de-producci%C3%B3n-en-f%C3%A1brica-concepto-de.jpg?ver=6'); /* Reemplaza 'ruta-de-la-imagen.jpg' con la ruta real de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
    margin: 0;
    padding: 0;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info {
    text-align: left;
    margin-bottom: 20px;
}

  
  .form {
    text-align: left;
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #180957;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    margin-top: 20px;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
  }
  
  .container {
    background-color: #fff;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .info {
    text-align: left;
    margin-bottom: 20px;
  }
  
  /* Resto del estilo CSS, como en tu código original */
  